{% extends "base.html" %}

{% block content %}
    <h1 align="center">Add a Blog Entry</h1>
    <form method='post'>
        <label>
           Title for your new blog:
           <br>
            <input type="text" name='blg_title' />
            <br>
            Your new Blog:
            <br>
            <textarea type="text" name="blg_body" rows="20" cols="100"/></textarea>
         
            <br>
            <input type="submit" value='Add Entry' />
            
            
        </label>

    </form>

{% endblock %}